# Rush files
common/changes/
common/scripts/
common/config/
common/temp/
CHANGELOG.*

# Package manager files
pnpm-lock.yaml
yarn.lock
package-lock.json
shrinkwrap.json

# Build outputs
dist
node_modules
.rush
